.button {
  background-color: rgba(128, 128, 128, 0.238);
  /* background-color: var(--color-water-10); */
  border: none;
  /* color: var(--color-granite); */
  color: whitesmoke;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.button:hover {
  background-color: var(--color-nemo);
}
